@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
$primary_color: #e74c3c;

@layer base {
  * {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  button {
    @apply cursor-pointer;
  }
  input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
  }
}

@layer utilities {
  .music_box {
    @apply flex items-center gap-4 bg-white rounded-lg shadow-md shadow-gray-200/50 max-w-[350px] w-full py-3 px-4;
    & .music_box__cover {
      @apply flex place-content-center rounded-lg bg-gray-200 text-gray-600 w-7 h-7;
    }
    & .music_box__text {
      @apply flex flex-col w-[calc(100%-3.5rem-1rem)] basis-[calc(100%-3.5rem-1rem)] gap-2;
      & .music_box__title {
        @apply font-bold text-xl;
      }
      & .music_box__artist {
        @apply text-sm text-gray-600;
      }
    }
  }
}

.uploadAudio_button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 2px dashed $primary_color;
  color: $primary_color;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  & span {
    font-weight: 800;
  }
  &:hover {
    background-color: #f0f0f0;
  }
}
